/* Base styles */
* {
	 box-sizing: border-box;
	 font-family: Arial, Helvetica, sans-serif;
}

h1 {
	 text-align: center;
	 font-size:175%;
}

p {
	 margin: 10px;
}

div.card {
	 background:grey;
	 border: 1px solid black;
}
div.cardheader {
	 position:relative;
	 height:2em;
}
span.title {
	 border: 1px solid black;
	 padding:2px 30px 2px 30px;
	 position: absolute;
	 right: 0px;
	 height:2em;
	 font-size:125%;
}
span.pink {
	 background:pink;
	 color: black;
}
span.red {
	 background:red;
	 color: white;
}
span.yellow {
	 background:yellow;
	 color: black;
}

/* Desktop */
@media (min-width: 992px) {
	 section {
		  width: 33%;
		  float: left;
		  padding: 5px;
		  position: relative;
	 }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
	 section {
		  width: 50%;
		  float: left;
		  padding: 5px;
	 }
	 section#last {
		  width: 100%;
		  float: left;
		  padding: 5px;
	 }
}

/* Mobile */
@media (max-width: 767px) {
	 section {padding: 5px;}
}

